*{
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: url(../img/login/fondo.jpg) no-repeat center top;
  background-size: cover;
  height: 30vh;
padding: 105px 0 0;
}
header{
background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
width: 100%;
height: 100px;
position: absolute;
top: 0;
left: 0;

}

header #logo img{
  margin: 10px;
  float: left;
  width: 100px;
}

a{
color: #524c56;
text-decoration: none;
font-weight: bold;
}

a:hover, a-link_active{
  color: #fff;
}
img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}

#menu {
  display: none;
}

ul{
  list-style: none;
}

nav ul li a{
  font-size: 120%;
  display: inline-block;
  width: max-content;
  float: left;
  padding: 40px 20px 0 0;
    color: #black;
}

footer{
  margin: 0;
  margin-top: 30%;
  background: #fff;
  width: 100%;
}

h2 {
  color: #fff;
}
.pie_pagina{
  width: 100%;
  background-color: #0a141d;
}
.pie_pagina .grupo_1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie_pagina .grupo_1 .box h2{
  color: #fff;
  margin-bottom: 25px;
}
.pie_pagina .grupo_1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 25px;
}
.pie_pagina .grupo_1 .box p{
  padding: 0;
  margin-left: 0;
  color: #efefef;
  margin-bottom: 25px;
}
.pie_pagina .grupo_1 .box a{
display: inline-block;
text-decoration: none;
width: 45px;
height: 45px;
line-height: 45px;
background-color: #fff;
text-align: center;

}
.pie_pagina .grupo_1 .box a:hover{
  color: aqua;
}

.pie_pagina .grupo_1 .red_social a{
display: inline-block;
text-decoration: none;
width: 45px;
height: 45px;
line-height: 45px;
margin-right: 10px;
background-color: #fff;
text-align: center;
}

.pie_pagina .grupo_1 .red_social a:hover{
  color: aqua;
}

.pie_pagina .grupo_2 {
color: #fff;
text-align: center;
padding-bottom: 20px;
}

.pie_pagina small{
  font-size: 15px;
}
.login-box{
width: 320px;
height: 400px;
background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
top: 40%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
box-sizing: border-box;
padding:70px 30px;
border-radius: 20px;
}

.login-box .avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1{
margin: 0;
padding: 0 0 40px;
color: #fff;
/*centrar texto*/
text-align: center;
/*tamaño al texto*/
font-size: 40px;


}

.login-box input{
width: 100%;
margin-bottom: 10px;
}

.login-box input[type = "text"],
.login-box input[type ="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type ="submit"]{
border: none;
outline: none;
height: 25px;
color: #4D5656;
cursor: pointer;
/*tamaño al texto*/
font-size: 18px;
/*login tenga bordes redondeados*/
border-radius: 20px;
}
.login-box input:hover[type="submit"]{
  color: #fff;
}
.login-box .link{
  text-decoration: none;
  font-size: 12px;
  color: #4D5656;
  padding-left: 25px;
}
.login-box .link2{
  text-decoration: none;
  font-size: 12px;
  color: #4D5656;
  position: absolute;
  transform: translate(180%, -105%);
}

.login-box .link:hover,.link2:hover{
  color: #fff;
}
.new-account{
width: 350px;
height: 520px;
background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
top: 45%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
box-sizing: border-box;
padding:70px 30px;
border-radius: 20px;
}

.new-account .logo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
.new-account h1{
margin: 0;
padding: 0 0 40px;
color: #fff;
/*centrar texto*/
text-align: center;
/*tamaño al texto*/
font-size: 25px;
}
.new-account input{
width: 100%;
margin-bottom: 15px;
}

.new-account input[type = "text"],
.new-account input[type ="password"]{
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  font-size: 16px;
}
.new-account input[type ="submit"]{
border: none;
color: #black;
cursor: pointer;
outline: none;
height: 25px;
/*tamaño al texto*/
font-size: 18px;
/*login tenga bordes redondeados*/
border-radius: 20px;
}
.new-account input:hover[type="submit"]{
  color: #fff;
}
.new-account .back{
width: 290px;
height: 12px;
background: #fff;
position: absolute;
text-decoration: none;
transform: translate(-100%, 150%);
box-sizing: border-box;
padding: 0 0 25px;
border-radius: 20px;
border: none;
color: #black;
cursor: pointer;
outline: none;
text-align: center;
/*tamaño al texto*/
font-size: 20px;
/*login tenga bordes redondeados*/
}
.new-account .back:hover{
  color: #fff;
}
.recover{
width: 400px;
height: 320px;
background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
box-sizing: border-box;
padding:70px 30px;
border-radius: 20px;
}
.recover .logo{
  width: 100px;
  height: 100px;
  border-radius: 50%;

  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.recover h1{
margin: 0;
padding: 0 0 25px;
color: #fff;
/*centrar texto*/
text-align: center;
/*tamaño al texto*/
font-size: 25px;
}
.recover input{
width: 100%;
margin-bottom: 10px;
}

.recover input[type = "text"]{
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  font-size: 16px;
}
.recover input[type ="submit"]{
border: none;
outline: none;
height: 25px;
color: #black;
cursor: pointer;
/*tamaño al texto*/
font-size: 18px;
/*login tenga bordes redondeados*/
border-radius: 20px;
}
.recover input:hover[type="submit"]{
  color: #fff;
}
.recover p{
  color:  #fff;
}
